<!DOCTYPE html>
<html lang="en" id="htmlPage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApp</title>
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/css/btn_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/css/Fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/WebBookstoreApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="../wwwroot/js/theme.js" asp-append-version="true" defer></script>
</head>
<body class="text-center justify-content-center align-content-center">
    <header class="font-tiny5">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid green1">
                <a class="navbar-brand BackZnay" asp-area="" asp-controller="Home" asp-action="Index"><b>Знайка</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About_us">О Нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                        <li>
                            <div class="nav-link">
                                <input type="checkbox" class="checkbox" id="theme-checkbox" />
                                <label for="theme-checkbox" class="checkbox-label">
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-moon"></i>
                                    <span class="ball" id="theme-ball"></span>
                                </label>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-container">
    <div class="glass-box">
        <div class="container mt-5">
            <h1 class="mb-4">Вход</h1>
            <form class="col g-3" id="bookOrderForm">
                <div class="row-4">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" required>
                </div>
                <div class="row-4">
                    <label for="password" class="form-label">пароль</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="row-4 p-3">
                    <button class="btn btn-primary" type="submit">Войти</button>
                </div>
            </form>
            <div class="contact-info mt-4">
                <h3>Забыли пароль?</h3>
                <a href="~">Восстановить</a>
                <a>или</a>
                <a href="../templates/Register.html">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <div class="footer-container">
                <div class="footer-text">
                    &copy; 2024 - WebApp - <a href="../templates/Privacy.html">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
