<!DOCTYPE html>
<html lang="en" id="htmlPage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApp</title>
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/css/btn_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/css/Fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="../wwwroot/WebBookstoreApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="../wwwroot/js/theme.js" asp-append-version="true" defer></script>
</head>
<body class="text-center justify-content-center align-content-center">
    <header class="font-tiny5">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid green1">
                <a class="navbar-brand BackZnay" asp-area="" asp-controller="Home" asp-action="Index"><b>Знайка</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light">О Нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="">Контакты</a>
                        </li>
                        <li>
                            <div class="nav-link">
                                <input type="checkbox" class="checkbox" id="theme-checkbox" />
                                <label for="theme-checkbox" class="checkbox-label">
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-moon"></i>
                                    <span class="ball" id="theme-ball"></span>
                                </label>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1>Политика конфиденциальности</h1>
    
    <p><b>"Знайка"</b> уважает вашу конфиденциальность и стремится защищать ваши данные. Эта политика конфиденциальности описывает, как мы обрабатываем информацию, собираемую на нашем сайте.</p>
    
    <h2>Какие данные собираются</h2>
    <p>На нашем сайте мы не собираем личную информацию, такую как имена, адреса электронной почты, номера телефонов и т.д.</p>
    
    <h2>Как собираются данные</h2>
    <p>Наш сайт не использует формы регистрации или другие методы для сбора личной информации. Мы также не используем куки или другие технологии отслеживания для сбора данных о пользователях.</p>
    
    <h2>Как используются данные</h2>
    <p>Поскольку мы не собираем личную информацию, мы не используем данные пользователей для каких-либо целей, включая маркетинг, аналитику или улучшение сайта.</p>
    
    <h2>Как данные защищаются</h2>
    <p>Поскольку мы не собираем личную информацию, нам не требуется принимать меры для защиты данных пользователей.</p>
    
    <h2>С кем делятся данные</h2>
    <p>Поскольку мы не собираем личную информацию, мы не делимся данными с третьими сторонами или правоохранительными органами.</p>
    
    <h2>Права пользователей</h2>
    <p>Поскольку мы не собираем личную информацию, у пользователей нет необходимости запрашивать доступ, исправление или удаление своих данных.</p>
    
    <h2>Контактная информация</h2>
    <p>Если у вас есть вопросы по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу: <a href="mailto:znaykacontact@gmail.com">znaykacontact@gmail.com</a>.</p>
    
    <h2>Изменения в политике конфиденциальности</h2>
    <p>Мы можем обновлять эту политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и мы уведомим вас о значительных изменениях.</p>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <div class="footer-container">
                <div class="footer-text">
                    &copy; 2024 - WebApp - <a href="../templates/Privacy.html">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
